body {
    margin: 0;
    padding: 0;
    background: #16A085;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F4D03F, #16A085);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F4D03F, #16A085); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h1 {
    line-height: 350%;
    text-align: center;
    color: #fff;
}

#container {
    background: rgba(0, 0, 0, 0.85);
    max-width: 600px;
    margin: 0 auto;
    height: 400px;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    border-radius: 10px;
}

#left {
    float: left;
    width: 49.6%;
    height: 100%;
    border-right: 2px solid black;
}

#right {
    float: left;
    width: 50%;
    height: 100%;
}

.square {
    width: 30%;
    background-color: green;
    padding-bottom: 30%;
    float: left;
    margin: 1.6%;
    border-radius: 5px;
}

#win h1 {
    text-align: center;
    margin-top: 43%;
    line-height: 130%;
}